@CHARSET "UTF-8";

div.project {
	clear: left;
	border: 1px solid grey;
	margin-right: 5px;
	margin-bottom: 10px;
}

div.project_name {
	
}

div.project_name a {
	display: block;
	padding: 10px;
	font-size: 1.2em;
	border-bottom: 1px solid grey;
	background:#ffffff url('images/stripes_grey.png') repeat right top;
	color: black;
	text-decoration: none;
}

div.project_name a:hover {
	color: black;
	background:#ffffff url('images/stripes_white.png') repeat right top;
}

div.project_desc {
	padding: 10px;
}

div.project_url {
	padding: 10px;
	padding-top: 0px;
	font-size: 0.8em;
}

div.project_col {
	width: 270px;
	margin-right: 5px;
	float: left;
}