@CHARSET "UTF-8";

#topmenu {
	background: grey;
	color: white;
	overflow: hidden;
	z-index: 10;
}

#topmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#topmenu li {
	float: left;
}


#topmenu li a {
	float: left;
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
}

#topmenu li a:hover {
	background: white;
	color: black;
}